.cards{
  display: flex;
  justify-content: space-between

  }
.seccion2-cards{
  display: flex;
  flex-direction: column;
}

.card-secc4{
  border: 1px solid #868484a4;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.174); 
  
}
.icon-card{
  height: 26px;
  width: 26px;

}

.card{
  display: flex;
  flex-direction: column;
    gap: .875rem;

  text-align: center;
  align-items: center;
    div{

      padding: .9375rem;
      border-radius: 50%;
      border: none;
      color: black;
      border: .0625rem solid black;
    }
}

.computadoras{
text-align: center;
padding: 3rem;
  img{
    width: 700px
  }


}
