h1{
@include tipo (rgb(255, 255, 255), 35px, bold, 2px);
}
h2{
@include tipo (rgb(255, 255, 255), 15px, none, 1px);  
}

p{
  color: rgb(69, 70, 71);
}
.welcome-h2{
  color: black;
  text-align: center;
  padding-top: 10px;
}

.h2-ourservice{
  color: black;
}