footer{
  background-image: url("../assets/image/compu-1.png");

}

.container-right{

  p{
  color: white;
  width: 46%;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  text-align: justify;
  }
}
.left{
  display: flex;
  align-items: center;
}


.footer-redes{
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.footer-contact, .footer-service, .footer-quick{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: .625rem;
  color: white;

}
.footer-quick, .footer-service, .footer-contact {
  ul{
    list-style: none;
    li{
      padding-bottom: .3125rem;
      a{
        color: inherit;
        text-decoration: none;        
      }
    }
  }
}

.container-footer{
  display: flex;

}
.imagen-footer{
  height: 80px;
}
.container-left{
  display: flex;
  flex-direction: row;
  padding: 10px;

}
.footer-two{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;


  .section-right ul{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    gap: 20px;
    a{
      color: inherit;
    }
    
    
    
  }
}
.section-right a {
  text-decoration: none;
}