header{
background-image: url("../assets/image/compu-1.png");
width: 100%;
height: 400px;
background-position: center;
background-size: auto;
background-repeat: no-repeat;

display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.navbar{
  position: fixed;
}
nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #333333bd;
  padding: 15px 0px;

  color: #fff;
}

.navbar-padding{
  padding-right: 100px;
}
.navbar-nav{
  gap: 30px;
  .nav-link{
    color: white;
    &:hover{
     box-shadow: .1875rem .1875rem  .3125rem grey;
    }
  
    
  }
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}



